<% include partials/head %>

<body>
<div class="col-sm-6 col-sm-offset-2">

    <div class="jumbotron text-left">
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        <hr>

        <h1>The Endleg</h1>
        <p style="color: dimgrey" >Welcome</p>

        <!--<div class="card" style="width: 20rem;">-->
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <!--<div class="card-block">-->
                <!--<h4 class="card-title">Card title</h4>-->
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

</body>

</html>